button {
    font-size: inherit;
    font-family: inherit;
    background-color: var(--accent);
    border: none;
    border-radius: 0.5em;
    color: var(--text_invert);
    padding: 0.5em 1em calc(0.5em + 1px) 1em;
    cursor: pointer;
}