.Calendar__tr {
}

table {
    border-collapse:separate;
    border-spacing: 0.5em 0.5em;
}

.Calendar__dateHead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 400px) {
    .Calendar__dateHead {
        writing-mode: tb-rl;
    }
    table {
        border-spacing: 0.3em 0.7em;
    }
}

.Calendar__dayName {
    font-size: 0.8em;
}

.Calendar__dayDate {
    font-size: 0.5em;
    line-height: 0.5;
}