.Calendar__tr {
}

table {
    border-collapse:separate;
    border-spacing: 0.5em 0.5em;
}

.Calendar__dateHead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 500px) {
    .Calendar__dateHead {
        writing-mode: tb-rl;
    }
    table {
        border-spacing: 0.3em 0.7em;
    }
}

.Calendar__dayName {
    font-weight: bold;
}

.Calendar__dayDate {
    font-size: 0.6em;
    line-height: 0.5;
    font-weight: lighter;
}

.Calendar__timeSlot .Calendar__timeRadio {
    appearance: none;
    -webkit-appearance: none;
    height: 0;
    width: 0;
    position: absolute;
}

.Calendar__timeLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.7em;
    border-radius: 0.2em;
    color: var(--text_primary);
    background-color: var(--accent);
    cursor: pointer;
    font-weight: lighter;
    transition: background-color 0.3s;
}

.Calendar__timeRadio:focus {
    outline: none;
}

.Calendar__timeLabel:hover ,
.Calendar__timeRadio:focus + .Calendar__timeLabel {
    background-color: var(--accent_hover);
}

.Calendar__timeSlot--bookedByYou .Calendar__timeLabel {
    color: var(--accent);
    background-color: var(--text_primary);
    font-weight: normal;
}

.Calendar__timeRadio:disabled + .Calendar__timeLabel {
    background-color: var(--bg_disable);
    color: transparent;
    cursor: not-allowed;
}

.Calendar__timeRadio:checked + .Calendar__timeLabel {
    box-shadow: 0 0 0 2px currentColor;
}

.Calendar__timeLabel--Minutes,
.Calendar__timeLabel--Hours {
    font-size: 0.8em;
}

.Calendar__timeLabel--Minutes::before {
    content: ":";
}

@media (max-width: 500px) {
    .Calendar__timeLabel--Minutes::before {
        content: "";
    }

    .Calendar__timeLabel--Minutes {
        align-self: flex-start;
        font-size: 0.4em;
    }

    .Calendar__timeLabel {
        padding: 0.3em 0.5em;
        font-weight: normal;
    }
}
