.Checkbox {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    height: 1em;
    width: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: inherit;
    padding: 0.1em;
    color: var(--text_primary);

    transition: border-color 0.3s, color 0.3s, background-color 0.3s;

    border: 0.1em solid currentColor;
    box-sizing: content-box;
    border-radius: 0.3em;
    margin: 0;
}

.Checkbox::before {
    content: '✔';
    vertical-align: bottom;
    color: transparent;
}

.Checkbox:checked {
    background-color: var(--accent);
    color: var(--accent);
}

.Checkbox:checked:hover {
    background-color: var(--accent_hover);
    color: var(--accent_hover);
}

.Checkbox:checked::before {
    color: var(--text_primary);
}