.ConfirmationPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s;
}

.ConfirmationPopup:not(.ConfirmationPopup--open) {
    opacity: 0;
    pointer-events: none;
}

.ConfirmationPopup::before {
    position: absolute;
    z-index: -1;
    content: "";
    background-color: rgba(24, 36, 56, 0.7);
    top: calc(-50vh + 50%);
    left: calc(-50vw + 50%);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
}

.ConfirmationPopup__content {
    background-image: linear-gradient(104.04deg, #182438 0%, #30326D 100%);
    padding: 1.5em 2em;
    border-radius: 0.3em;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    min-width: 250px;
    transition: transform 0.3s;
}

.ConfirmationPopup:not(.ConfirmationPopup--open) .ConfirmationPopup__content {
    transform: scale(0.9) rotateX(-40deg);
}

.ConfirmationPopup__close {
    color: var(--text_error);
    background-color: transparent;

    box-shadow: 0 0 0 0 currentColor;
    transition: box-shadow 0.3s;
}

.ConfirmationPopup__close:focus-visible,
.ConfirmationPopup__close:hover {
    box-shadow: 0 0 0 2px currentColor;
}

.ConfirmationPopup__info {
    font-size: 1.5em;
}

.ConfirmationPopup__footer {
    margin-block-start: 1.5em;
    display: flex;
    justify-content: space-around;
}