.DryingMachine {
    display: block;
    margin-block: 1em;
}

.DryingMachine__label {
    font-weight: lighter;
}

.DryingMachine__comment {
    display: none;
    color: var(--text_secondary);
}

/*.DryingMachine__input:checked + .DryingMachine__comment {*/
/*    display: block;*/
/*}*/