.DryingMachine {
    display: block;
    margin-block: 0.4em;
}

.DryingMachine__label {

}

.DryingMachine__input {

}

.DryingMachine__comment {
    display: none;
    color: var(--text_secondary);
}

.DryingMachine__input:checked + .DryingMachine__comment {
    display: block;
}