.DryingMachine {
    display: block;
    margin-block: 0.7em;
}

.DryingMachine__label {
    font-weight: lighter;
}

.DryingMachine__comment {
    display: none;
}

/*.DryingMachine__input:checked + .DryingMachine__comment {*/
/*    display: block;*/
/*}*/