@import "base.css";
@import "Button.css";
@import "Checkbox.css";
@import "Calendar.css";
@import "DryingMachine.css";
@import "ConfirmationPopup.css";

:root {
    --bg_highlight: #545b6c;
    --bg_disable: #262d36;
    --text_primary: #F7F8F8;
    --text_error: #a44747;
    --button_bg: #4F52B4;
    --bg_primary: #071c38;
    --accent: #4F52B4;
    --accent_hover: #666BE2;
}
