input[type='radio'] {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0.3em;
    width: 2em;
    border: 0.2em solid var(--accent);
    margin: 0;
    color: var(--text_invert)
}

input[type='radio']:not(:disabled) {
    cursor: pointer;
}

input[type='radio']:disabled {
    opacity: 0.2;
    cursor: not-allowed;
    background-color: var(--accent);
}

input[type='radio']::before {
    content: '';
}

input[type='radio']:checked {
    background-color: var(--accent);
}

input[type='radio']:checked::before {
    content: '✔';
}